				html,
				body {
							height: 100%;
							overflow: hidden;
							margin: 0px;
							}
				#header1 {
									font-size: 22px;
									color: #FFFFFF;
									text-align: center;
									font-family: sans-serif;
									}
				.pcfb {
							color: #FFFFFF;
							font-family: sans-serif;
							font-weight: bold;
							}
				.pcf {
							color: #FFFFFF;
							font-family: sans-serif;
						}
				a {
					color: darkblue;
					text-decoration: none;
					}
				a:hover, a:active{
												text-decoration: none;
												color: #2328E1;
												transition: 0.4s;
												}
				a.buttons {
									color: #FFFFFF;
									text-decoration: none;
									font-size: 25px;
									}
				a.buttons:hover, a.buttons:active {
																					color: #6896E7;
																					transition: 0.4s;
																				}
				a.here {
									color: #FFFFFF;
									font-size: 20px;
									}
				a.herereport {
											color: darkblue;
											text-decoration: underline;
										}
				a.herereport:hover, a.herereport:active {
																								text-decoration: underline;
																								color:#FFFFFF;
																								transition: 0.4s;
																							}
				a.report {
									color: darkblue;
									text-decoration: none;
								}
				a.report:hover, a.report:active {
																			text-decoration: none;
																			color:#FFFFFF;
																			transition: 0.4s;
																		}
				.hello {
								position: absolute;
								font-size: 35px;
								text-align: left;
								top: 220px;
								left: 7%;
							}
				.IamSM {
								position: absolute;
								font-size: 22px;
								text-align: left;
								top: 270px;
								left: 7%;
								width: 500px;
								}
				.learnmore {
										position: absolute;
										font-size: 22px;
										text-align: left;
										top: 370px;
										left: 7%;
										width: 500px;
										}
				.whatIenjoy {
										position: absolute;
										font-size: 35px;
										top: 220px;
										right: 205px;
										text-align: left;
										font-family: sans-serif;
										}
				.lists1 {
								position: absolute;
								font-size: 28px;
								top: 285px;
								right: 202px;
								text-align: left;
								font-family: sans-serif;
							}
				.lists2 {
								position: absolute;
								font-size: 28px;
								top: 320px;
								right: 197px;
								text-align: left;
								font-family: sans-serif;
							}
				.lists3 {
								position: absolute;
								font-size: 28px;
								top: 355px;
								right: 226.4px;
								text-align: left;
								font-family: sans-serif;
							}
				.whatIenjoyvideo {
														position: absolute;
														top: 280px;
														right: 384px;
														width: 36px;
														height: 36px;
														}
				.whatIenjoynyancat {
														position: absolute;
														top: 306px;
														right: 369px;
														width: 58px;
														height: 58px;
														}
				.whatIenjoyfloppy {
													position: absolute;
													top: 355.35px;
													right: 386px;
													width: 32px;
													height: 32px;
													}
				.projects {
									position: absolute;
									top: 460px;
									right: 210px;
								}
				.projects ul {
											margin-left: -70px;
											margin-top: 20px;
										}
				.stilldeveloping {
													position: absolute;
													font-size: 20px;
													text-align: left;
													width: 380px;
													top: 473px;
													left: 7%;
													border-top: 2px solid;
													border-bottom: 2px solid;
													border-color: white;
												}

				.bottom {
									position: fixed;
									font-weight: bold;
									font-family: sans-serif;
									font-size: 15px;
									bottom: 0.5em;
									left: 50%;
									transform: translate(-50%);
									margin-top: 0;
									padding: 0;
									text-align: center;
								}
				.bottom p {
										font-size: 14px;
										color: #FFFFFF;
										font-weight: normal;
										text-align: center;
										margin: 0;
										padding: 0;
									}
				.homebutt {
										position: absolute;
										top: 80px;
										width: 45px;
										height: 45px;
										left: 23.3px;
									}
				.homebutttext {
												position: absolute;
												top: 96.5px;
												left: 69.9px;
											}
				.aboutbutt {
										position: absolute;
										top: 89px;
										width: 36px;
										height: 36px;
										left: 152.3px;
									}
				.aboutbutttext {
												position: absolute;
												top: 96.5px;
												left: 190.5px;
											}
				.socialsbutt {
											position: absolute;
											top: 85px;
											width: 46px;
											height: 46px;
											left: 270px;
										}
				.socialsbutttext {
												position: absolute;
												top: 96.5px;
												left: 318.3px;
											}
				@keyframes loading {
						0% {
							background-image: url(housenightskyupscaled.gif);
							background-repeat: no-repeat;
							background-attachment: fixed; 
							background-size: cover;
							background-color: #17191f;
							filter: blur(10px);
						}
						100% {
							background-image: url(housenightskyupscaled.gif);
							background-repeat: no-repeat;
							background-attachment: fixed; 
							background-size: cover;
							background-color: #17191f;
						}
				}
				@keyframes push {
						0% {
							top: -100%;
						}
						100% {
							top: 0%;
						}
				}
				@keyframes gone {
					0% {
						opacity: 0;
					}
					100% {
						opacity: 1;
					}
				}
				@keyframes opacity {
						0% {
							opacity: 0;
						}
						100% {
							opacity: 0;
						}
				}
				.loadpush {
										position: fixed;
										animation: loading 4s, 4s push 2s;
										width: 100%;
										height: 100%;
									}
				.gone {
								position: fixed;
								animation: gone 8s;
							}
				.opacity {
									position: fixed;
									animation: opacity 3s;
									width: 100%;
									height: 100%;
									overflow-x: hidden;
									overflow-y: visible;
								}
 
 
				body {
							background-image: url(housenightskyupscaled.gif);
							background-repeat: no-repeat;
							background-attachment: fixed; 
							background-size: cover;
							background-color: #17191f;
							}


			/* Extra extra small devices (XXL- phones, 250px and up) "" */
				@media (min-width: 250px) {
																			html, body {
																										height: 100%;
																										overflow: visible;
																										margin: 0%;
																									}
																			#header1 {
																									font-size: 16px;
																								}
																			.hello {
																							font-size: 20px;
																					}
																			.hello {
																													font-size: 18px;
																													text-align: left;
																													top: 180px;
																													left: 7%;
																												}
																									.IamSM {
																														font-size: 16px;
																														text-align: left;
																														top: 205px;
																														left: 7%;
																														width: 210px;
																													}
																									.learnmore {
																																font-size: 16px;
																																text-align: left;
																																top: 290px;
																																left: 7%;
																																width: 210px;
																														}
																									.whatIenjoy {
																																font-size: 20px;
																																top: 550px;
																																right: 35px;
																																text-align: left;
																															}
																									.lists1 {
																													font-size: 18px;
																													top: 605px;
																													right: 22px;
																													text-align: left;
																												}
																									.lists2 {
																													font-size: 18px;
																													top: 630px;
																													right: 17px;
																													text-align: left;
																												}
																									.lists3 {
																													font-size: 18px;
																													top: 655px;
																													right: 36.4px;
																													text-align: left;
																												}
																									.whatIenjoyvideo {
																																			top: 600px;
																																			right: 130px;
																																			width: 28px;
																																			height: 28px;
																																		}
																									.whatIenjoynyancat {
																																				top: 616px;
																																				right: 115px;
																																				width: 50px;
																																				height: 50px;
																																			}
																									.whatIenjoyfloppy {
																																			top: 655.35px;
																																			right: 134px;
																																			width: 24px;
																																			height: 24px;
																																		}
																									.projects {
																														top: 700px;
																														right: 90px;
																														font-size: 25px;
																													}
																									.projects ul {
																																margin-left: -70px;
																																margin-top: 20px;
																																font-size: 20px;
																															}
																									.stilldeveloping {
																																		font-size: 15px;
																																		text-align: left;
																																		width: 200px;
																																		top: 410px;
																																		left: 7%;
																																		border-top: 2px solid;
																																		border-bottom: 2px solid;
																																		border-color: white;
																																	}

																			.homebutt {
																									top: 135px;
																									width: 35px;
																									height: 35px;
																									left: 1px;
																								}
																			.homebutttext {
																											display: none;
																										}
																			.aboutbutt {
																										top: 143px;
																										width: 26px;
																										height: 26px;
																										left: 45px;
																									}
																			.aboutbutttext {
																											display: none;
																										}
																			.socialsbutt {
																										top: 138px;
																										width: 36px;
																										height: 36px;
																										left: 80px;
																									}
																			.socialsbutttext {
																											display: none;
																										}

																			.bottom {
																									display: none;
																								}
																		}

			/* Extra small devices (XL- phones, 400px and up) "" */
				@media (min-width: 400px) {
																			html, body {
																										height: 100%;
																										overflow: visible;
																										margin: 0%;
																									}
																			#header1 {
																									font-size: 17px;
																								}

																									.hello {
																													font-size: 18px;
																													text-align: left;
																													top: 180px;
																													left: 7%;
																												}
																									.IamSM {
																														font-size: 16px;
																														text-align: left;
																														top: 210px;
																														left: 7%;
																														width: 300px;
																													}
																									.learnmore {
																																font-size: 16px;
																																text-align: left;
																																top: 280px;
																																left: 7%;
																																width: 300px;
																														}
																									.whatIenjoy {
																																font-size: 24px;
																																top: 450px;
																																right: 35px;
																																text-align: left;
																															}
																									.lists1 {
																													font-size: 22px;
																													top: 505px;
																													right: 22px;
																													text-align: left;
																												}
																									.lists2 {
																													font-size: 22px;
																													top: 540px;
																													right: 17px;
																													text-align: left;
																												}
																									.lists3 {
																													font-size: 22px;
																													top: 575px;
																													right: 36.4px;
																													text-align: left;
																												}
																									.whatIenjoyvideo {
																																			top: 500px;
																																			right: 160px;
																																			width: 32px;
																																			height: 32px;
																																		}
																									.whatIenjoynyancat {
																																				top: 526px;
																																				right: 145px;
																																				width: 54px;
																																				height: 54px;
																																			}
																									.whatIenjoyfloppy {
																																			top: 575.35px;
																																			right: 164px;
																																			width: 28px;
																																			height: 28px;
																																		}
																									.projects {
																														top: 450px;
																														right: 230px;
																														font-size: 25px;
																													}
																									.projects ul {
																																margin-left: -70px;
																																margin-top: 20px;
																																font-size: 22px;
																															}
																									.stilldeveloping {
																																		font-size: 15px;
																																		text-align: left;
																																		width: 300px;
																																		top: 380px;
																																		left: 7%;
																																		border-top: 2px solid;
																																		border-bottom: 2px solid;
																																		border-color: white;
																																	}

																			.homebutt {
																									top: 123px;
																									width: 40px;
																									height: 40px;
																									right: 1%;
																								}
																			.homebutttext {
																											display: none;
																										}
																			.aboutbutt {
																										top: 130px;
																										width: 31px;
																										height: 31px;
																										right: 55px;
																									}
																			.aboutbutttext {
																											display: none;
																										}
																			.socialsbutt {
																										top: 125px;
																										width: 41px;
																										height: 41px;
																										right: 95px;
																									}
																			.socialsbutttext {
																											display: none;
																										}

																			.bottom {
																									display: block;
																									font-size: 14px;
																								}
																		}

			/* Small devices (portrait tablets and large phones, 600px and up) "" */
				@media (min-width: 600px) {
																			html, body {
																										height: 100%;
																										overflow: visible;
																										margin: 0%;
																									}
																			#header1 {
																									font-size: 18px;
																								}

																			.hello {
																													font-size: 23px;
																													text-align: left;
																													top: 180px;
																													left: 7%;
																												}
																									.IamSM {
																														font-size: 18px;
																														text-align: left;
																														top: 210px;
																														left: 7%;
																														width: 240px;
																													}
																									.learnmore {
																																font-size: 18px;
																																text-align: left;
																																top: 315px;
																																left: 7%;
																																width: 240px;
																														}
																									.whatIenjoy {
																																font-size: 28px;
																																top: 220px;
																																right: 95px;
																																text-align: left;
																															}
																									.lists1 {
																													font-size: 24px;
																													top: 285px;
																													right: 82px;
																													text-align: left;
																												}
																									.lists2 {
																													font-size: 24px;
																													top: 320px;
																													right: 77px;
																													text-align: left;
																												}
																									.lists3 {
																													font-size: 24px;
																													top: 355px;
																													right: 106.4px;
																													text-align: left;
																												}
																									.whatIenjoyvideo {
																																			top: 280px;
																																			right: 230px;
																																			width: 34px;
																																			height: 34px;
																																		}
																									.whatIenjoynyancat {
																																				top: 306px;
																																				right: 215px;
																																				width: 56px;
																																				height: 56px;
																																			}
																									.whatIenjoyfloppy {
																																			top: 355.35px;
																																			right: 234px;
																																			width: 30px;
																																			height: 30px;
																																		}
																									.projects {
																														top: 450px;
																														right: 100px;
																														font-size: 25px;
																													}
																									.projects ul {
																																margin-left: -77px;
																																margin-top: 20px;
																																font-size: 22px;
																															}
																									.stilldeveloping {
																																		font-size: 17px;
																																		text-align: left;
																																		width: 240px;
																																		top: 423px;
																																		left: 7%;
																																		border-top: 2px solid;
																																		border-bottom: 2px solid;
																																		border-color: white;
																																	}

																			.homebutt {
																									top: 80px;
																									width: 40px;
																									height: 40px;
																									left: 10px;
																								}
																			.homebutttext {
																											display: none;
																										}
																			.aboutbutt {
																										top: 88px;
																										width: 31px;
																										height: 31px;
																										left: 55px;
																									}
																			.aboutbutttext {
																											display: none;
																										}
																			.socialsbutt {
																										top: 83px;
																										width: 41px;
																										height: 41px;
																										left: 90px;
																									}
																			.socialsbutttext {
																											display: none;
																										}

																			.bottom {
																									display: block;
																									font-size: 14px;
																								}
																		}

			/* Medium devices (landscape tablets, 768px and up) "" */
				@media (min-width: 768px) {
																			html, body {
																										height: 100%;
																										overflow: visible;
																										margin: 0%;
																									}
																			#header1 {
																									font-size: 19px;
																								}

																			.hello {
																													font-size: 25px;
																													text-align: left;
																													top: 180px;
																													left: 7%;
																												}
																									.IamSM {
																														font-size: 19px;
																														text-align: left;
																														top: 210px;
																														left: 7%;
																														width: 300px;
																													}
																									.learnmore {
																																font-size: 19px;
																																text-align: left;
																																top: 315px;
																																left: 7%;
																																width: 300px;
																														}
																									.whatIenjoy {
																																font-size: 28px;
																																top: 220px;
																																right: 120px;
																																text-align: left;
																															}
																									.lists1 {
																													font-size: 26px;
																													top: 285px;
																													right: 102px;
																													text-align: left;
																												}
																									.lists2 {
																													font-size: 26px;
																													top: 320px;
																													right: 97px;
																													text-align: left;
																												}
																									.lists3 {
																													font-size: 26px;
																													top: 355px;
																													right: 126.4px;
																													text-align: left;
																												}
																									.whatIenjoyvideo {
																																			top: 280px;
																																			right: 270px;
																																			width: 34px;
																																			height: 34px;
																																		}
																									.whatIenjoynyancat {
																																				top: 306px;
																																				right: 255px;
																																				width: 56px;
																																				height: 56px;
																																			}
																									.whatIenjoyfloppy {
																																			top: 355.35px;
																																			right: 274px;
																																			width: 30px;
																																			height: 30px;
																																		}
																									.projects {
																														top: 450px;
																														right: 120px;
																														font-size: 28px;
																													}
																									.projects ul {
																																margin-left: -80px;
																																margin-top: 20px;
																																font-size: 24px;
																															}
																									.stilldeveloping {
																																		font-size: 18px;
																																		text-align: left;
																																		width: 300px;
																																		top: 433px;
																																		left: 7%;
																																		border-top: 2px solid;
																																		border-bottom: 2px solid;
																																		border-color: white;
																																	}

																			.homebutt {
																									top: 80px;
																									width: 45px;
																									height: 45px;
																									left: 10px;
																								}
																			.homebutttext {
																											display: none;
																										}
																			.aboutbutt {
																									top: 86px;
																									width: 36px;
																									height: 36px;
																									left: 60px;
																								}
																			.aboutbutttext {
																											display: none;
																										}
																			.socialsbutt {
																										top: 81px;
																										width: 46px;
																										height: 46px;
																										left: 100px;
																									}
																			.socialsbutttext {
																												display: none;
																											}

																			.bottom {
																									display: block;
																									font-size: 14px;
																								}
																		}

			/* Large devices (laptops/desktops, 992px and up) "" */
				@media (min-width: 992px) {
																			html, body {
																										height: 100%;
																										overflow: hidden;
																										margin: 0%;
																									}
																			#header1 {
																									font-size: 21px;
																								}

																			.hello {
																													font-size: 30px;
																													text-align: left;
																													top: 220px;
																													left: 7%;
																												}
																									.IamSM {
																														font-size: 21px;
																														text-align: left;
																														top: 270px;
																														left: 7%;
																														width: 500px;
																													}
																									.learnmore {
																																font-size: 21px;
																																text-align: left;
																																top: 370px;
																																left: 7%;
																																width: 500px;
																														}
																									.whatIenjoy {
																																font-size: 30px;
																																top: 220px;
																																right: 150px;
																																text-align: left;
																															}
																									.lists1 {
																													font-size: 28px;
																													top: 285px;
																													right: 132px;
																													text-align: left;
																												}
																									.lists2 {
																													font-size: 28px;
																													top: 320px;
																													right: 127px;
																													text-align: left;
																												}
																									.lists3 {
																													font-size: 28px;
																													top: 355px;
																													right: 156.4px;
																													text-align: left;
																												}
																									.whatIenjoyvideo {
																																			top: 280px;
																																			right: 314px;
																																			width: 36px;
																																			height: 36px;
																																		}
																									.whatIenjoynyancat {
																																				top: 306px;
																																				right: 299px;
																																				width: 58px;
																																				height: 58px;
																																			}
																									.whatIenjoyfloppy {
																																			top: 355.35px;
																																			right: 316px;
																																			width: 32px;
																																			height: 32px;
																																		}
																									.projects {
																														top: 460px;
																														right: 140px;
																														font-size: 30px;
																													}
																									.projects ul {
																																margin-left: -80px;
																																margin-top: 20px;
																																font-size: 27px;
																															}
																									.stilldeveloping {
																																		font-size: 20px;
																																		text-align: left;
																																		width: 380px;
																																		top: 473px;
																																		left: 7%;
																																		border-top: 2px solid;
																																		border-bottom: 2px solid;
																																		border-color: white;
																																	}

																			.homebutt {
																									top: 80px;
																									width: 45px;
																									height: 45px;
																									left: 23.3px;
																								}
																			.homebutttext {
																											display: block;
																											}
																			.aboutbutt {
																										top: 89px;
																										width: 36px;
																										height: 36px;
																										left: 152.3px;
																									}
																			.aboutbutttext {
																											display: block;
																										}
																			.socialsbutt {
																										top: 85px;
																										width: 46px;
																										height: 46px;
																										left: 270px;
																									}
																			.socialsbutttext {
																											display: block;
																										}

																			.bottom {
																									display: block;
																									font-size: 14px;
																								}
																		}

			/* Extra large devices (large laptops and desktops, 1200px and up) "" */
				@media (min-width: 1200px) {
																			html, body {
																										height: 100%;
																										overflow: hidden;
																										margin: 0%;
																									}
																			#header1 {
																									font-size: 21px;
																								}
																									.hello {
																													font-size: 35px;
																													text-align: left;
																													top: 220px;
																													left: 7%;
																												}
																									.IamSM {
																														font-size: 22px;
																														text-align: left;
																														top: 270px;
																														left: 7%;
																														width: 500px;
																													}
																									.learnmore {
																																font-size: 22px;
																																text-align: left;
																																top: 370px;
																																left: 7%;
																																width: 500px;
																														}
																									.whatIenjoy {
																																font-size: 35px;
																																top: 220px;
																																right: 205px;
																																text-align: left;
																															}
																									.lists1 {
																													font-size: 28px;
																													top: 285px;
																													right: 202px;
																													text-align: left;
																												}
																									.lists2 {
																													font-size: 28px;
																													top: 320px;
																													right: 197px;
																													text-align: left;
																												}
																									.lists3 {
																													font-size: 28px;
																													top: 355px;
																													right: 226.4px;
																													text-align: left;
																												}
																									.whatIenjoyvideo {
																																			top: 280px;
																																			right: 384px;
																																			width: 36px;
																																			height: 36px;
																																		}
																									.whatIenjoynyancat {
																																				top: 306px;
																																				right: 369px;
																																				width: 58px;
																																				height: 58px;
																																			}
																									.whatIenjoyfloppy {
																																			top: 355.35px;
																																			right: 386px;
																																			width: 32px;
																																			height: 32px;
																																		}
																									.projects {
																														top: 460px;
																														right: 210px;
																														font-size: 35px;
																													}
																									.projects ul {
																																margin-left: -70px;
																																margin-top: 20px;
																																font-size: 27px;
																															}
																									.stilldeveloping {
																																		font-size: 20px;
																																		text-align: left;
																																		width: 380px;
																																		top: 473px;
																																		left: 7%;
																																		border-top: 2px solid;
																																		border-bottom: 2px solid;
																																		border-color: white;
																																	}

																									.homebutt {
																															top: 80px;
																															width: 45px;
																															height: 45px;
																															left: 23.3px;
																														}
																									.homebutttext {
																																	display: block;
																																}
																									.aboutbutt {
																																top: 89px;
																																width: 36px;
																																height: 36px;
																																left: 152.3px;
																															}
																									.aboutbutttext {
																																	display: block;
																																}
																									.socialsbutt {
																																top: 85px;
																																width: 46px;
																																height: 46px;
																																left: 270px;
																															}
																									.socialsbutttext {
																																	display: block;
																																}

																									.bottom {
																															display: block;
																															font-size: 15px;
																														}
																			}
