html,
body {
	height: 100%;
	overflow: hidden;
	margin: 0px;
}
#header1 {
	font-size: 22px;
	color: #FFFFFF;
	text-align: center;
	font-family: sans-serif;
}
.pcfb {
	color: #FFFFFF;
	font-family: sans-serif;
	font-weight: bold;
}
.pcf {
	color: #FFFFFF;
	font-family: sans-serif;
}
a {
	color: #929BD8;
}
a:hover, a:active {
	color: #B0B9F6;
	transition: 0.4s;
}
a.buttons {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 25px;
}
a.buttons:hover, a.buttons:active {
	color: #6896E7;
	transition: 0.4s;
}
a.report {
	color: #E9CC98;
	text-decoration: none;
}
a.report:hover, a.report:active {
	text-decoration: none;
	color:#FFEFFE;
	transition: 0.4s;
}
audio {
	color: #FFFFFF;
	filter: invert(80%);
	height: 50px;
	width: 550px;
}
button {
	width: 200px;
	height: 30px;
	border-radius: 20px;
	font-size: 16px;
	font-family: sans-serif;
}
button:hover {
	background: #505050;
	color: #FFFFFF;
	transition: 0.4s;
}
.songs {
	position: absolute;
	font-family: sans-serif;
	font-weight: bold;
	top: 25%;
	left: 50%;
	transform: translate(-50%);
	color: #FFFFFF;
	text-align: center;
	line-height: 1.5;
	font-size: 22px;
}
.songs p {
	line-height: 1.1;
	font-weight: normal;
}
.songs script {
	line-height: 1.1;
}
.songs p1 {
	line-height: 1.1;
	font-weight: normal;
}


/* bottom / buttons */

.bottom {
	position: fixed;
	transition: 0.5s;
	opacity: 0.3;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 15px;
	bottom: 0.5em;
	left: 50%;
	transform: translate(-50%);
	margin-top: 0;
	padding: 0;
	text-align: center;
}
.bottom p {
	font-size: 14px;
	color: #FFFFFF;
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: 0;
}
.bottom:hover {
	opacity: 1;
	transition: 0.5s;
}
.gobackbutt {
	position: absolute;
	top: 88px;
	width: 45px;
	height: 45px;
	left: 23.3px;
}
.gobackbutttext {
	position: absolute;
	top: 96.5px;
	left: 69.9px;
}
.dropbtn {
	background-color: rgba(0,0,0,0);
	color: white;
	font-size: 25px;
	border: none;
	cursor: pointer;
	font-family: sans-serif;
	font-weight: bold;
}
.dropdown {
	position: absolute;
	display: inline-block;
	top: 150px;
	left: 25px;
	margin-left: -2px;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgba(0,0,0,1);
	font-family: sans-serif;
}
.dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {
	background-color: rgba(30,30,30,1);
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropbtn {
	background-color: rgba(0,0,0,0);
}

/* animations */

@keyframes gone {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.gone {
	animation: gone 1.5s;
}


body {
	background-image: url(../imgs/pixelwaterfall.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: cover;
	background-color: #17191f;
}


/* Extra extra small devices (XXXXXXXXXXXXXXXXXXXXL-------------- phones, 250px and up) "not that bad, not that bad" */
@media (min-width: 250px) {
	html,
	body {
		height: 100%;
		overflow-x: hidden;
		overflow-y: visible;
		margin: 0px;
	}
	#header1 {
		font-size: 14px;
	}
	audio {
		height: 40px;
		width: 220px;
	}
	a.buttons {
		font-size: 16px;
	}
	button {
		width: 100px;
		height: 35px;
		font-size: 11px;
	}
	.songs {
		top: 26%;
		left: 50%;
		transform: translate(-50%);
		line-height: 1.5;
		font-size: 14px;
	}
	.songs p {
		line-height: 1.1;
	}
	.songs script {
		line-height: 1.1;
	}
	.songs p1 {
		line-height: 1.1;
	}
	.bottom {
		font-size: 14px;
	}
	.bottom p {
		font-size: 14px;
	}
	.gobackbutt {
		top: 103px;
		width: 30px;
		height: 30px;
		left: 0.3px;
	}
	.gobackbutttext {
		top: 110.5px;
		left: 30.9px;
	}
	.dropbtn {
		top: 140px;
		font-size: 16px;
		left: 0.3px;
	}
}

/* Extra small devices (XXL-- phones, 300px and up) */
@media (min-width: 300px) {
	html,
	body {
		height: 100%;
		overflow-x: hidden;
		overflow-y: visible;
		margin: 0px;
	}
	#header1 {
		font-size: 17px;
	}
	audio {
		height: 45px;
		width: 270px;
	}
	a.buttons {
		font-size: 20px;
	}
	button {
		width: 136px;
		height: 35px;
		font-size: 12px;
	}
	.songs {
		top: 26%;
		left: 50%;
		transform: translate(-50%);
		line-height: 1.5;
		font-size: 18px;
	}
	.songs p {
		line-height: 1.1;
	}
	.songs script {
		line-height: 1.1;
	}
	.songs p1 {
		line-height: 1.1;
	}
	.bottom {
		font-size: 15px;
	}
	.bottom p {
		font-size: 14px;
	}
	.gobackbutt {
		top: 110px;
		width: 35px;
		height: 35px;
		left: 10.3px;
	}
	.gobackbutttext {
		top: 118.5px;
		left: 49.9px;
	}
	.dropbtn {
		top: 160px;
		font-size: 20px;
		left: 10.3px;
	}
}

/* Extra small devices (XL- phones, 400px and up) */
@media (min-width: 400px) {
	html,
	body {
		height: 100%;
		overflow-x: hidden;
		overflow-y: visible;
		margin: 0px;
	}
	#header1 {
		font-size: 17px;
	}
	audio {
		height: 45px;
		width: 350px;
	}
	a.buttons {
		font-size: 20px;
	}
	button {
		width: 140px;
		height: 35px;
		font-size: 12px;
	}
	.songs {
		top: 26%;
		left: 50%;
		transform: translate(-50%);
		line-height: 1.5;
		font-size: 18px;
	}
	.songs p {
		line-height: 1.1;
	}
	.songs script {
		line-height: 1.1;
	}
	.songs p1 {
		line-height: 1.1;
	}
	.bottom {
		font-size: 15px;
	}
	.bottom p {
		font-size: 14px;
	}
	.gobackbutt {
		top: 100px;
		width: 35px;
		height: 35px;
		left: 10.3px;
	}
	.gobackbutttext {
		top: 108.5px;
		left: 49.9px;
	}
	.dropbtn {
		top: 150px;
		font-size: 20px;
		left: 10.3px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
	html,
	body {
		height: 100%;
		overflow-x: hidden;
		overflow-y: visible;
		margin: 0px;
	}
	#header1 {
		font-size: 20px;
	}
	audio {
		color: #FFFFFF;
		filter: invert(80%);
		height: 50px;
		width: 450px;
	}
	a.buttons {
		font-size: 22px;
	}
	button {
		width: 160px;
		height: 35px;
		font-size: 14px;
	}
	.songs {
		top: 26%;
		left: 50%;
		transform: translate(-50%);
		line-height: 1.5;
		font-size: 20px;
	}
	.songs p {
		line-height: 1.1;
	}
	.songs script {
		line-height: 1.1;
	}
	.songs p1 {
		line-height: 1.1;
	}
	.bottom {
		font-size: 15px;
	}
	.bottom p {
		font-size: 14px;
	}
	.gobackbutt {
		top: 130px;
		width: 40px;
		height: 40px;
		left: 23.3px;
	}
	.gobackbutttext {
		top: 138.5px;
		left: 69.9px;
	}
	.dropbtn {
		top: 180px;
		font-size: 22px;
		left: 23.3px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
	html,
	body {
		height: 100%;
		overflow-x: hidden;
		overflow-y: visible;
		margin: 0px;
	}
	#header1 {
		font-size: 21px;
	}
	audio {
		height: 50px;
		width: 500px;
	}
	a.buttons {
		font-size: 23px;
	}
	button {
		width: 180px;
		height: 35px;
	}
	.songs {
		top: 25%;
		left: 50%;
		transform: translate(-50%);
		line-height: 1.5;
		font-size: 21px;
	}
	.songs p {
		line-height: 1.1;
	}
	.songs script {
		line-height: 1.1;
	}
	.songs p1 {
		line-height: 1.1;
	}
	.bottom {
		font-size: 15px;
	}
	.bottom p {
		font-size: 14px;
	}
	.gobackbutt {
		top: 88px;
		width: 40px;
		height: 40px;
		left: 23.3px;
	}
	.gobackbutttext {
		top: 96.5px;
		left: 69.9px;
	}
	.dropbtn {
		top: 150px;
		font-size: 23px;
		left: 23.3px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
	html,
	body {
		height: 100%;
		overflow-x: hidden;
		overflow-y: hidden;
		margin: 0px;
	}
	#header1 {
		font-size: 22px;
	}
	audio {
		height: 50px;
		width: 550px;
	}
	a.buttons {
		font-size: 24px;
	}
	button {
		width: 200px;
		height: 35px;
	}
	.songs {
		top: 25%;
		left: 50%;
		transform: translate(-50%);
		line-height: 1.5;
		font-size: 22px;
	}
	.songs p {
		line-height: 1.1;
	}
	.songs script {
		line-height: 1.1;
	}
	.songs p1 {
		line-height: 1.1;
	}
	.bottom {
		font-size: 15px;
	}
	.bottom p {
		font-size: 14px;
	}
	.gobackbutt {
		top: 88px;
		width: 40px;
		height: 40px;
		left: 23.3px;
	}
	.gobackbutttext {
		top: 96.5px;
		left: 69.9px;
	}
	.dropbtn {
		top: 140px;
		font-size: 24px;
		left: 23.3px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
	html,
	body {
		height: 100%;
		overflow-x: hidden;
		overflow-y: hidden;
		margin: 0px;
	}
	#header1 {
		font-size: 22px;
	}
	audio {
		height: 50px;
		width: 550px;
	}
	a.buttons {
		font-size: 24px;
	}
	button {
		width: 200px;
		height: 35px;
	}
	.songs {
		top: 25%;
		left: 50%;
		transform: translate(-50%);
		line-height: 1.5;
		font-size: 22px;
	}
	.songs p {
		line-height: 1.1;
	}
	.songs script {
		line-height: 1.1;
	}
	.songs p1 {
		line-height: 1.1;
	}
	.bottom {
		font-size: 15px;
	}
	.bottom p {
		font-size: 14px;
	}
	.gobackbutt {
		top: 88px;
		width: 40px;
		height: 40px;
		left: 23.3px;
	}
	.gobackbutttext {
		top: 96.5px;
		left: 69.9px;
	}
	.dropbtn {
		top: 140px;
		font-size: 24px;
		left: 23.3px;
	}
}
