html,
body {
	height: 100%;
	overflow: hidden;
	margin: 0px;
}
#header1 {
	font-size: 22px;
	color: #FFFFFF;
	text-align: center;
	font-family: sans-serif;
}
.pcfb {
	color: #FFFFFF;
	font-family: sans-serif;
	font-weight: bold;
}
.pcf {
	color: #FFFFFF;
	font-family: sans-serif;
}
a.buttons {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 25px;
}
a.buttons:hover, a.buttons:active {
	color: #6896E7;
	transition: 0.4s;
}
a.report {
	color: #E9CC98;
	text-decoration: none;
}
a.report:hover, a.report:active {
	text-decoration: none;
	color:#FFEFFE;
	transition: 0.4s;
}
.posofhi {
	position: absolute;
	left: 10%;
	top: 250px;
	font-size: 22px;
	font-family: sans-serif;
	width: 460px;
}
.mamspos {
	position: absolute;
	position: absolute;
	right: 10%;
	top: 250px;
	font-size: 22px;
	font-family: sans-serif;
	width: 350px;
}
.faq {
	position: absolute;
	font-size: 25px;
	top: 500px;
	left: 10%;
	width: 530px;
}
.thingsIdo {
	position: absolute;
	font-size: 22px;
	top: 500px;
	right: 10%;
}


/* bottom / buttons */

.bottom {
	position: fixed;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 14px;
	bottom: 0.5em;
	left: 50%;
	transform: translate(-50%);
	margin-top: 0;
	padding: 0;
	text-align: center;
}
.bottom p {
	font-size: 14px;
	color: #FFFFFF;
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: 0;
}
.homebutt {
	position: absolute;
	top: 80px;
	width: 45px;
	height: 45px;
	left: 23.3px;
}
.homebutttext {
	position: absolute;
	top: 96.5px;
	left: 69.9px;
}
.aboutbutt {
	position: absolute;
	top: 89px;
	width: 36px;
	height: 36px;
	left: 150.3px;
}
.aboutbutttext {
	position: absolute;
	top: 96.5px;
	left: 190.5px;
	transform: rotate(2.5deg);
}
.socialsbutt {
	position: absolute;
	top: 85px;
	width: 46px;
	height: 46px;
	left: 270px;
}
.socialsbutttext {
	position: absolute;
	top: 96.5px;
	left: 318.3px;
}


/* animations */

@keyframes push {
	0% {
		top: -100%;
	}
	100% {
		top: 0%;
	}
}
@keyframes gone {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.loadpush {
	position: fixed;
	animation: push 2s;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: visible;
}
.gone {
	position: fixed;
	animation: gone 3s;
}


body {
	background-image: url(../gifs/housenightskyupscaled.gif);
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: cover;
	background-color: #17191f;
}


/* Extra extra small devices (XXL- phones, 250px and up) "done" */
@media (min-width: 250px) {
	html, body {
		height: 100%;
		overflow: visible;
		margin: 0%;
	}
	#header1 {
		font-size: 16px;
	}

	.posofhi {
		left: 0.5em;
		top: 150px;
		font-size: 16px;
		width: 230px;
	}

	.mamspos {
		right: 0.5em;
		top: 280px;
		width: 200px;
		font-size: 16px;
	}

	.faq {
		left: 0.5em;
		top: 410px;
		font-size: 16px;
		width: 200px;
	}

	.thingsIdo {
		right: 0.5em;
		top: 590px;
		font-size: 15px;
		width: 200px;
	}

	.homebutt {
		top: 75px;
		width: 35px;
		height: 35px;
		left: 1px;
	}
	.homebutttext {
		display: none;
	}
	.aboutbutt {
		top: 83px;
		width: 26px;
		height: 26px;
		left: 45px;
	}
	.aboutbutttext {
		display: none;
	}
	.socialsbutt {
		top: 78px;
		width: 36px;
		height: 36px;
		left: 80px;
	}
	.socialsbutttext {
		display: none;
	}

	.bottom {
		font-size: 14px;
		width: 250px;
	}
}

/* Extra small devices (XL- phones, 400px and up) "holymoly" */
@media (min-width: 400px) {
	html, body {
		height: 100%;
		overflow: visible;
		margin: 0%;
	}
	#header1 {
		font-size: 17px;
	}

	.posofhi {
		left: 0.5em;
		top: 150px;
		font-size: 17px;
		width: 330px;
	}

	.mamspos {
		right: 0.5em;
		top: 260px;
		width: 215px;
		font-size: 17px;
	}

	.faq {
		left: 0.5em;
		top: 390px;
		font-size: 17px;
		width: 300px;
	}

	.thingsIdo {
		right: 0.5em;
		top: 540px;
		font-size: 16px;
		width: 340px;
	}
																								
	.homebutt {
		top: 73px;
		width: 40px;
		height: 40px;
		right: 1%;
	}
	.homebutttext {
		display: none;
	}
	.aboutbutt {
		top: 80px;
		width: 31px;
		height: 31px;
		right: 55px;
	}
	.aboutbutttext {
		display: none;
	}
	.socialsbutt {
		top: 75px;
		width: 41px;
		height: 41px;
		right: 95px;
	}
	.socialsbutttext {
		display: none;
	}

	.bottom {
		font-size: 14px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) "finished." */
@media (min-width: 600px) {
	html, body {
		height: 100%;
		overflow: visible;
		margin: 0%;
	}
	#header1 {
		font-size: 18px;
	}
	.posofhi {
		left: 1%;
		top: 145px;
		font-size: 18px;
		width: 350px;
	}

	.mamspos {
		right: 1%;
		top: 260px;
		width: 285px;
		font-size: 18px;
	}

	.faq {
		left: 1%;
		top: 370px;
		font-size: 18px;
		width: 410px;
	}

	.thingsIdo {
		right: 1%;
		top: 510px;
		font-size: 17px;
		width: 360px;
	}

	.homebutt {
		top: 30px;
		width: 40px;
		height: 40px;
		left: 10px;
	}
	.homebutttext {
		display: none;
	}
	.aboutbutt {
		top: 38px;
		width: 31px;
		height: 31px;
		left: 55px;
	}
	.aboutbutttext {
		display: none;
	}
	.socialsbutt {
		top: 33px;
		width: 41px;
		height: 41px;
		left: 90px;
	}
	.socialsbutttext {
		display: none;
	}

	.bottom {
		font-size: 14px;
	}
}

/* Medium devices (landscape tablets, 768px and up) "yes" */
@media (min-width: 768px) {
	html, body {
		height: 100%;
		overflow: visible;
		margin: 0%;
	}
	#header1 {
		font-size: 19px;
	}
	.posofhi {
		left: 2%;
		top: 130px;
		font-size: 19px;
		width: 370px;
	}

	.mamspos {
		right: 2%;
		top: 240px;
		width: 300px;
		font-size: 19px;
	}

	.faq {
		left: 2%;
		top: 350px;
		font-size: 19px;
		width: 430px;
	}

	.thingsIdo {
		display: block;
		right: 2%;
		top: 520px;
		font-size: 18px;
		width: 400px;
	}

	.homebutt {
		top: 30px;
		width: 45px;
		height: 45px;
		left: 10px;
	}
	.homebutttext {
		display: none;
	}
	.aboutbutt {
		top: 36px;
		width: 36px;
		height: 36px;
		left: 60px;
	}
	.aboutbutttext {
		display: none;
	}
	.socialsbutt {
		top: 31px;
		width: 46px;
		height: 46px;
		left: 100px;
	}
	.socialsbutttext {
		display: none;
	}

	.bottom {
		font-size: 14px;
	}
}

/* Large devices (laptops/desktops, 992px and up) "completed" */
@media (min-width: 992px) {
	html, body {
		height: 100%;
		overflow: hidden;
		margin: 0%;
	}
	#header1 {
		font-size: 21px;
	}
	.posofhi {
		left: 4%;
		top: 220px;
		font-size: 21px;
		width: 440px;
	}

	.mamspos {
		right: 4%;
		top: 220px;
		width: 330px;
		font-size: 21px;
	}

	.faq {
		left: 4%;
		top: 400px;
		font-size: 21px;
		width: 390px;
	}

	.thingsIdo {
		display: block;
		right: 4%;
		top: 430px;
		font-size: 19px;
		width: 400px;
	}

	.homebutt {
		top: 80px;
		width: 45px;
		height: 45px;
		left: 23.3px;
	}
	.homebutttext {
		display: block;
	}
	.aboutbutt {
		top: 89px;
		width: 36px;
		height: 36px;
		left: 152.3px;
	}
	.aboutbutttext {
		display: block;
	}
	.socialsbutt {
		top: 85px;
		width: 46px;
		height: 46px;
		left: 270px;
	}
	.socialsbutttext {
		display: block;
	}

	.bottom {
		font-size: 15px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) "DoNe" */
@media (min-width: 1200px) {
	html, body {
		height: 100%;
		overflow: hidden;
		margin: 0%;
	}
	#header1 {
		font-size: 22px;
	}	
	.posofhi {
		left: 10%;
		top: 250px;
		font-size: 22px;
		width: 460px;
	}

	.mamspos {
		right: 10%;
		top: 250px;
		width: 350px;
		font-size: 22px;
	}

	.faq {
		left: 10%;
		top: 500px;
		font-size: 22px;
		width: 500px;
	}

	.thingsIdo {
		display: block;
		right: 10%;
		top: 520px;
		font-size: 21px;
		width: auto;
	}

	.homebutt {
		top: 80px;
		width: 45px;
		height: 45px;
		left: 23.3px;
	}
	.homebutttext {
		display: block;
	}
	.aboutbutt {
		top: 89px;
		width: 36px;
		height: 36px;
		left: 152.3px;
	}
	.aboutbutttext {
		display: block;
	}
	.socialsbutt {
		top: 85px;
		width: 46px;
		height: 46px;
		left: 270px;
	}
	.socialsbutttext {
		display: block;
	}

	.bottom {
		font-size: 15px;
	}
}
