html,
body {
	height: 100%;
	overflow: hidden;
	margin: 0px;
}
script {
	display: block;
	z-index: 1;
}
#header1 {
	font-size: 22px;
	color: #FFFFFF;
	text-align: center;
	font-family: sans-serif;
}
.pcfb {
	color: #FFFFFF;
	font-family: sans-serif;
	font-weight: bold;
}
.pcf {
	color: #FFFFFF;
	font-family: sans-serif;
}
a {
	color: #929BD8;
}
a:hover, a:active {
	color: #2328E1;
	transition: 0.4s;
}
a.buttons {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 25px;
	}
a.buttons:hover, a.buttons:active {
	color: #6896E7;
	transition: 0.4s;
}
a.herereport {
	color: #E9CC98;
	text-decoration: underline;
	font-style: normal;
}
a.herereport:hover, a.herereport:active {
	text-decoration: underline;
	color:#FFEFFE;
	transition: 0.4s;
}
a.report {
	color: #E9CC98;
	text-decoration: none;
}
a.report:hover, a.report:active {
	text-decoration: none;
	color:#FFEFFE;
	transition: 0.4s;
}
.hello {
	position: absolute;
	font-size: 35px;
	text-align: left;
	top: 220px;
	left: 7%;
}
.IamSM {
	position: absolute;
	font-size: 22px;
	text-align: left;
	top: 270px;
	left: 7%;
	width: 500px;
}
.learnmore {
	position: absolute;
	font-size: 22px;
	text-align: left;
	top: 370px;
	left: 7%;
	width: 500px;
}
.learnmore p {
	margin-top: -5px;
	font-style: italic;
	font-size: 19px;
}
.whatIenjoy {
	position: absolute;
	font-size: 22px;
	top: 220px;
	right: 8%;
	transform: translate(-20%);
	text-align: left;
}
.whatIenjoy ul {
	padding: 0;
	margin-top: 0;
	margin-left:0;
	font-size: 22px;
}
.whatIenjoy ul li {
	list-style: none;
	margin-bottom: 0px;
	margin-left: -30px;
}
.whatIenjoy ul li:nth-child(1) img {
	width: 35px;
	height: 35px;
	margin-bottom: -6px;
}
.whatIenjoy ul li:nth-child(2) img {
	width: 50px;
	height: 60px;
	margin-bottom: -20px;
	margin-left: -15px;
}
.whatIenjoy ul li:nth-child(3) img {
	width: 30px;
	height: 30px;
	margin-bottom: -5px;
}
.projects {
	font-weight: bold;
	font-family: sans-serif;
	color: #FFFFFF;
	position: absolute;
	top: 480px;
	right: 8%;
	font-size: 22px;
	width: 170px;
	height: 100px;
}
.projects ul {
	font-size: 22px;
	font-weight: normal;
	margin-left: -40px;
	margin-top: 20px;
	padding: 0;
	list-style: none;
}
.projects ul li:nth-child(2) {
	font-weight: bold;
	padding: 0;
	margin-top: 5px;
	margin-left: 60px;
}
.stilldeveloping {
	position: absolute;
	font-size: 20px;
	text-align: center;
	width: 380px;
	top: 473px;
	left: 7%;
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
}


/* bottom / buttons */

.bottom {
	position: fixed;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 15px;
	bottom: 0.5em;
	left: 50%;
	transform: translate(-50%);
	margin-top: 0;
	padding: 0;
	text-align: center;
}
.bottom p {
	font-size: 14px;
	color: #FFFFFF;
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: 0;
}
.homebutt {
	position: absolute;
	top: 80px;
	width: 45px;
	height: 45px;
	left: 23.3px;
}
.homebutttext {
	position: absolute;
	top: 96.5px;
	left: 69.9px;
	transform: rotate(2.5deg);
}
.aboutbutt {
	position: absolute;
	top: 89px;
	width: 36px;
	height: 36px;
	left: 152.3px;
}
.aboutbutttext {
	position: absolute;
	top: 96.5px;
	left: 190.5px;
}
.socialsbutt {
	position: absolute;
	top: 85px;
	width: 46px;
	height: 46px;
	left: 270px;
}
.socialsbutttext {
	position: absolute;
	top: 96.5px;
	left: 318.3px;
}


/* animations */

@keyframes loading {
	0% {
		background-image: url(../gifs/housenightskyupscaled.gif);
		background-repeat: no-repeat;
		background-attachment: fixed; 
		background-size: cover;
		background-color: #17191f;
		filter: blur(10px);
	}
	100% {
		background-image: url(../gifs/housenightskyupscaled.gif);
		background-repeat: no-repeat;
		background-attachment: fixed; 
		background-size: cover;
		background-color: #17191f;
	}
}
@keyframes push {
	0% {
		top: -100%;
	}
	100% {
		top: 0%;
	}
}
@keyframes gone {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
.loadpush {
	position: fixed;
	animation: loading 4s, 3s push 2s;
	width: 100%;
	height: 100%;
}
.gone {
	position: fixed;
	animation: gone 6s;
}
.opacity {
	position: fixed;
	animation: opacity 2s;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: visible;
}
 
 
body {
	background-image: url(../gifs/housenightskyupscaled.gif);
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: cover;
	background-color: #17191f;
}


/* Extra extra small devices (XXL- phones, 250px and up) "kill me please"  */
@media (min-width: 250px) {
	html, body {
		height: 100%;
		overflow: visible;
		margin: 0%;
	}
	#header1 {
		font-size: 16px;
	}

	.hello {
		font-size: 18px;
		text-align: left;
		top: 180px;
		left: 10%;
	}
	.IamSM {
		font-size: 16px;
		text-align: left;
		top: 205px;
		left: 10%;
		width: 210px;
	}
	.learnmore {
		font-size: 16px;
		text-align: left;
		top: 290px;
		left: 10%;
		width: 210px;
	}
	.learnmore p4 {
		font-size: 16px;
	}
	.learnmore p {
		margin-top: -5px;
		font-style: italic;
		font-size: 16px;
	}
	.whatIenjoy {
		font-size: 16px;
		top: 380px;
		right: 10%;
		text-align: left;
	}
	.whatIenjoy ul {
		padding: 0;
		margin-top: -10px;
		margin-left: 0;
		font-size: 17px;
	}
	.whatIenjoy ul li {
		list-style: none;
		margin-bottom: 0px;
		margin-left: -30px;
	}
	.whatIenjoy ul li:nth-child(1) img {
		width: 30px;
		height: 30px;
		margin-bottom: -6px;
	}
	.whatIenjoy ul li:nth-child(2) img {
		width: 48px;
		height: 58px;
		margin-bottom: -20px;
		margin-left: -15px;
	}
	.whatIenjoy ul li:nth-child(3) img {
		width: 24px;
		height: 24px;
		margin-bottom: -5px;
		margin-left: 5px;
	}
	.projects {
		top: 525px;
		right: 0%;
		font-size: 16px;
	}
	.projects ul {
		margin-left: -40px;
		margin-top: 15px;
		font-size: 16px;
		width: 120px;
	}
	.stilldeveloping {
		font-size: 14px;
		text-align: center;
		width: 200px;
		top: 630px;
		left: 10%;
		border-top: 2px solid;
		border-bottom: 2px solid;
		border-color: white;
	}

	.homebutt {
		top: 135px;
		width: 35px;
		height: 35px;
		left: 1px;
	}
	.homebutttext {
		display: none;
	}
	.aboutbutt {
		top: 143px;
		width: 26px;
		height: 26px;
		left: 45px;
	}
	.aboutbutttext {
		display: none;
	}
	.socialsbutt {
		top: 138px;
		width: 36px;
		height: 36px;
		left: 80px;
	}
	.socialsbutttext {
		display: none;
	}

	.bottom {
		font-size: 14px;
		width: 250px;
	}
}

/* Extra small devices (XL- phones, 400px and up) "questionable" */
@media (min-width: 400px) {
	html, body {
		height: 100%;
		overflow: visible;
		margin: 0%;
	}
	#header1 {
		font-size: 17px;
	}

	.hello {
		font-size: 18px;
		text-align: left;
		top: 180px;
		left: 10%;
	}
	.IamSM {
		font-size: 17px;
		text-align: left;
		top: 210px;
		left: 10%;
		width: 300px;
	}
	.learnmore {
		font-size: 17px;
		text-align: left;
		top: 280px;
		left: 10%;
		width: 300px;
	}
	.learnmore p {
		margin-top: -5px;
		font-style: italic;
		font-size: 17px;
	}
	.learnmore p4 {
		margin-top: -5px;
		font-style: italic;
		font-size: 16px;
	}
	.learnmore p {
		margin-top: -5px;
		font-size: 16px;
	}
	.whatIenjoy {
		font-size: 17px;
		top: 370px;
		right: 10%;
		text-align: left;
	}
	.whatIenjoy ul {
		padding: 0;
		margin-top: 0;
		margin-left: 0;
		font-size: 17px;
	}
	.whatIenjoy ul li {
		list-style: none;
		margin-bottom: 0px;
		margin-left: -30px;
	}
	.whatIenjoy ul li:nth-child(1) img {
		width: 30px;
		height: 30px;
		margin-bottom: -6px;
	}
	.whatIenjoy ul li:nth-child(2) img {
		width: 48px;
		height: 58px;
		margin-bottom: -20px;
		margin-left: -15px;
	}
	.whatIenjoy ul li:nth-child(3) img {
		width: 24px;
		height: 24px;
		margin-bottom: -5px;
		margin-left: 5px;
	}
	.projects {
		top: 530px;
		right: 10%;
		font-size: 17px;
		width: 130px;
	}
	.projects ul {
		margin-left: -30px;
		margin-top: 20px;
		font-size: 17px;
		width: 150px;
	}
	.stilldeveloping {
		font-size: 15px;
		text-align: center;
		width: 290px;
		top: 640px;
		left: 10%;
		border-top: 2px solid;
		border-bottom: 2px solid;
		border-color: white;
	}

	.homebutt {
		top: 123px;
		width: 40px;
		height: 40px;
		right: 1%;
	}
	.homebutttext {
		display: none;
	}
	.aboutbutt {
		top: 130px;
		width: 31px;
		height: 31px;
		right: 55px;
	}
	.aboutbutttext {
		display: none;
	}
	.socialsbutt {
		top: 125px;
		width: 41px;
		height: 41px;
		right: 95px;
	}
	.socialsbutttext {
		display: none;
	}

	.bottom {
		font-size: 14px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) "questionable" */
@media (min-width: 600px) {
	html, body {
		height: 100%;
		overflow: visible;
		margin: 0%;
	}
	#header1 {
		font-size: 18px;
	}

	.hello {
		font-size: 23px;
		text-align: left;
		top: 175px;
		left: 7%;
	}
	.IamSM {
		font-size: 18px;
		text-align: left;
		top: 210px;
		left: 7%;
		width: 240px;
	}
	.learnmore {
		font-size: 18px;
		text-align: left;
		top: 315px;
		left: 7%;
		width: 240px;
	}
	.learnmore p4 {
		margin-top: -5px;
		font-style: italic;
		font-size: 17px;
	}
	.learnmore p {
		margin-top: -5px;
		font-size: 17px;
	}
	.whatIenjoy {
		font-size: 18px;
		top: 190px;
		right: 7%;
		text-align: left;
	}
	.whatIenjoy ul {
		padding: 0;
		margin-top: 0;
		margin-left: 0;
		font-size: 18px;
	}
	.whatIenjoy ul li {
		list-style: none;
		margin-bottom: 0px;
		margin-left: -30px;
	}
	.whatIenjoy ul li:nth-child(1) img {
		width: 32px;
		height: 32px;
		margin-bottom: -6px;
	}
	.whatIenjoy ul li:nth-child(2) img {
		width: 50px;
		height: 60px;
		margin-bottom: -20px;
		margin-left: -15px;
	}
	.whatIenjoy ul li:nth-child(3) img {
		width: 26px;
		height: 26px;
		margin-bottom: -5px;
		margin-left: 5px;
	}
	.projects {
		top: 440px;
		right: 1%;
		font-size: 18px;
		width: 160px;
	}
	.projects ul {
		margin-left: -34px;
		margin-top: 20px;
		font-size: 18px;
	}
	.stilldeveloping {
		font-size: 16px;
		text-align: center;
		width: 240px;
		top: 423px;
		left: 7%;
		border-top: 2px solid;
		border-bottom: 2px solid;
		border-color: white;
	}

	.homebutt {
		top: 80px;
		width: 40px;
		height: 40px;
		left: 10px;
	}
	.homebutttext {
		display: none;
	}
	.aboutbutt {
		top: 88px;
		width: 31px;
		height: 31px;
		left: 55px;
	}
	.aboutbutttext {
		display: none;
	}
	.socialsbutt {
		top: 83px;
		width: 41px;
		height: 41px;
		left: 90px;
	}
	.socialsbutttext {
		display: none;
	}

	.bottom {
		font-size: 14px;
	}
}

/* Medium devices (landscape tablets, 768px and up) "ok" */
@media (min-width: 768px) {
	html, body {
		height: 100%;
		overflow: visible;
		margin: 0%;
	}
	#header1 {
		font-size: 19px;
	}

	.hello {
		font-size: 25px;
		text-align: left;
		top: 170px;
		left: 7%;
	}
	.IamSM {
		font-size: 19px;
		text-align: left;
		top: 210px;
		left: 7%;
		width: 320px;
	}
	.learnmore {
		font-size: 19px;
		text-align: left;
		top: 300px;
		left: 7%;
		width: 320px;
	}
	.learnmore p4 {
		margin-top: -5px;
		font-style: italic;
		font-size: 18px;
	}
	.learnmore p {
		margin-top: -5px;
		font-size: 18px;
	}
	.whatIenjoy {
		font-size: 19px;
		top: 180px;
		right: 7%;
		text-align: left;
	}
	.whatIenjoy ul {
		padding: 0;
		margin-top: 0;
		margin-left: 0;
		font-size: 19px;
	}
	.whatIenjoy ul li {
		list-style: none;
		margin-bottom: 0px;
		margin-left: -30px;
	}
	.whatIenjoy ul li:nth-child(1) img {
		width: 33px;
		height: 33px;
		margin-bottom: -6px;
	}
	.whatIenjoy ul li:nth-child(2) img {
		width: 50px;
		height: 60px;
		margin-bottom: -20px;
		margin-left: -15px;
	}
	.whatIenjoy ul li:nth-child(3) img {
		width: 28px;
		height: 28px;
		margin-bottom: -5px;
		margin-left: 5px;
	}
	.projects {
		top: 400px;
		right: 7%;
		font-size: 19px;
		width: 150px;
	}
	.projects ul {
		margin-left: -35px;
		margin-top: 20px;
		font-size: 19px;
	}
	.stilldeveloping {
		font-size: 17px;
		text-align: center;
		width: 320px;
		top: 413px;
		left: 7%;
		border-top: 2px solid;
		border-bottom: 2px solid;
		border-color: white;
	}

	.homebutt {
		top: 80px;
		width: 45px;
		height: 45px;
		left: 10px;
	}
	.homebutttext {
		display: none;
	}
	.aboutbutt {
		top: 86px;
		width: 36px;
		height: 36px;
		left: 60px;
	}
	.aboutbutttext {
		display: none;
	}
	.socialsbutt {
		top: 81px;
		width: 46px;
		height: 46px;
		left: 100px;
	}
	.socialsbutttext {
		display: none;
	}

	.bottom {
		font-size: 14px;
	}
}

/* Large devices (laptops/desktops, 992px and up) "yes" */
@media (min-width: 992px) {
	html, body {
		height: 100%;
		overflow: hidden;
		margin: 0%;
	}
	#header1 {
		font-size: 21px;
	}

	.hello {
		font-size: 30px;
		text-align: left;
		top: 230px;
		left: 7%;
	}
	.IamSM {
		font-size: 21px;
		text-align: left;
		top: 270px;
		left: 7%;
		width: 500px;
	}
	.learnmore {
		font-size: 21px;
		text-align: left;
		top: 345px;
		left: 7%;
		width: 500px;
	}
	.learnmore p4 {
		margin-top: -5px;
		font-style: italic;
		font-size: 20px;
	}
	.learnmore p {
		margin-top: -5px;
		font-size: 19px;
	}
	.whatIenjoy {
		font-size: 21px;
		top: 220px;
		right: 7%;
		text-align: left;
	}
	.whatIenjoy ul {
		padding: 0;
		margin-top: 0;
		margin-left: 0;
		font-size: 21px;
}
	.whatIenjoy ul li {
		list-style: none;
		margin-bottom: 0px;
		margin-left: -30px;
	}
	.whatIenjoy ul li:nth-child(1) img {
		width: 33px;
		height: 33px;
		margin-bottom: -6px;
	}
	.whatIenjoy ul li:nth-child(2) img {
		width: 50px;
		height: 60px;
		margin-bottom: -20px;
		margin-left: -15px;
	}
	.whatIenjoy ul li:nth-child(3) img {
		width: 28px;
		height: 28px;
		margin-bottom: -5px;
		margin-left: 5px;
	}
	.projects {
		top: 430px;
		right: 7%;
		font-size: 21px;
	}
	.projects ul {
		margin-left: -40px;
		margin-top: 20px;
		font-size: 21px;
		width: 170px;
	}
	.stilldeveloping {
		font-size: 19px;
		text-align: center;
		width: 370px;
		top: 443px;
		left: 7%;
		border-top: 2px solid;
		border-bottom: 2px solid;
		border-color: white;
	}

	.homebutt {
		top: 80px;
		width: 45px;
		height: 45px;
		left: 23.3px;
	}
	.homebutttext {
		display: block;
	}
	.aboutbutt {
		top: 89px;
		width: 36px;
		height: 36px;
		left: 152.3px;
	}
	.aboutbutttext {
		display: block;
	}
	.socialsbutt {
		top: 85px;
		width: 46px;
		height: 46px;
		left: 270px;
	}
	.socialsbutttext {
		display: block;
	}

	.bottom {
		font-size: 15px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) "think done?" */
@media (min-width: 1200px) {
	html, body {
		height: 100%;
		overflow: hidden;
		margin: 0%;
	}
	#header1 {
		font-size: 22px;
	}

	.hello {
		font-size: 35px;
		text-align: left;
		top: 220px;
		left: 7%;
	}
	.IamSM {
		font-size: 22px;
		text-align: left;
		top: 270px;
		left: 7%;
		width: 500px;
	}
	.learnmore {
		font-size: 22px;
		text-align: left;
		top: 370px;
		left: 7%;
		width: 500px;
	}
	.learnmore p4 {
		margin-top: -5px;
		font-style: italic;
		font-size: 21px;
	}
	.learnmore p {
		margin-top: -5px;
		font-size: 19px;
	}
	.whatIenjoy {
		font-size: 22px;
		top: 220px;
		right: 7%;
		transform: translate(-20%);
		text-align: left;
	}
	.whatIenjoy ul {
		padding: 0;
		margin-top: 0;
		margin-left:0;
		font-size: 22px;
	}
	.whatIenjoy ul li {
		list-style: none;
		margin-bottom: 0px;
		margin-left: -30px;
	}
	.whatIenjoy ul li:nth-child(1) img {
		width: 35px;
		height: 35px;
		margin-bottom: -6px;
	}
	.whatIenjoy ul li:nth-child(2) img {
		width: 50px;
		height: 60px;
		margin-bottom: -20px;
		margin-left: -15px;
	}
	.whatIenjoy ul li:nth-child(3) img {
		width: 30px;
		height: 30px;
		margin-bottom: -5px;
	}
	.projects {
		top: 460px;
		right: 7%;
		font-size: 22px;
	}
	.projects ul {
		margin-left: -40px;
		margin-top: 20px;
		font-size: 22px;
	}
	.stilldeveloping {
		font-size: 20px;
		text-align: center;
		width: 380px;
		top: 473px;
		left: 7%;
		border-top: 2px solid;
		border-bottom: 2px solid;
		border-color: white;
	}

	.homebutt {
		top: 80px;
		width: 45px;
		height: 45px;
		left: 23.3px;
	}
	.homebutttext {
		display: block;
	}
	.aboutbutt {
		top: 89px;
		width: 36px;
		height: 36px;
		left: 152.3px;
	}
	.aboutbutttext {
		display: block;
	}
	.socialsbutt {
		top: 85px;
		width: 46px;
		height: 46px;
		left: 270px;
	}
	.socialsbutttext {
		display: block;
	}

	.bottom {
		font-size: 15px;
	}
}
