html,
body {
	height: 100%;
	overflow: hidden;
	margin: 0px;
}
#header1 {
	font-size: 22px;
	color: #FFFFFF;
	text-align: center;
	font-family: sans-serif;
}
.pcfb {
	color: #FFFFFF;
	font-family: sans-serif;
	font-weight: bold;
}
.pcf {
	color: #FFFFFF;
	font-family: sans-serif;
}
a {
	color: #929BD8;
}
a:hover, a:active {
	color: #B0B9F6;
	transition: 0.4s;
}
a.buttons {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 25px;
}
a.buttons:hover, a.buttons:active {
	color: #6896E7;
	transition: 0.4s;
}
a.report {
	color: #E9CC98;
	text-decoration: none;
}
a.report:hover, a.report:active {
	text-decoration: none;
	color:#FFEFFE;
	transition: 0.4s;
}
audio {
	color: #FFFFFF;
	filter: invert(80%);
	height: 50px;
	width: 550px;
}
.songs {
	position: absolute;
	font-family: sans-serif;
	font-weight: bold;
	top: 25%;
	left: 50%;
	transform: translate(-50%);
	color: #FFFFFF;
	text-align: center;
	line-height: 1.5;
	font-size: 22px;
}
.songs p {
	line-height: 1.1;
	font-weight: normal;
}
.songs script {
	line-height: 1.1;
}
.songs p1 {
	line-height: 1.1;
	font-weight: normal;
}


/* bottom / buttons */

.bottom {
	position: fixed;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 15px;
	bottom: 0.5em;
	left: 50%;
	transform: translate(-50%);
	margin-top: 0;
	padding: 0;
	text-align: center;
}
.bottom p {
	font-size: 14px;
	color: #FFFFFF;
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: 0;
}
.gobackbutt {
	position: absolute;
	top: 88px;
	width: 45px;
	height: 45px;
	left: 23.3px;
}
.gobackbutttext {
	position: absolute;
	top: 96.5px;
	left: 69.9px;
}


/* animations */

@keyframes gone {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.gone {
	animation: gone 2s;
}


body {
	background-image: url(../gifs/moody-rain.gif);
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: cover;
	background-color: #17191f;
}


/* Extra extra small devices (XXL- phones, 250px and up) "not that bad, not that bad" */
@media (min-width: 250px) {
	#header1 {
		font-size: 16px;
	}
	audio {
		height: 40px;
		width: 200px;
	}
	a.buttons {
		font-size: 19px;
	}
	.songs {
		top: 25%;
		left: 50%;
		transform: translate(-50%);
		line-height: 1.5;
		font-size: 14px;
	}
	.songs p {
		line-height: 1.1;
	}
	.songs script {
		line-height: 1.1;
	}
	.songs p1 {
		line-height: 1.1;
	}
	.bottom {
		font-size: 14px;
	}
	.bottom p {
		font-size: 14px;
	}
	.gobackbutt {
		top: 150px;
		width: 40px;
		height: 40px;
		left: 0.3px;
	}
	.gobackbutttext {
		top: 160.5px;
		left: 39.9px;
	}
}

/* Extra small devices (XL- phones, 400px and up) "good" */
@media (min-width: 400px) {
	#header1 {
		font-size: 18px;
	}
	audio {
		height: 45px;
		width: 300px;
	}
	a.buttons {
		font-size: 23px;
	}
	.songs {
		top: 25%;
		left: 50%;
		transform: translate(-50%);
		line-height: 1.5;
		font-size: 18px;
	}
	.songs p {
		line-height: 1.1;
	}
	.songs script {
		line-height: 1.1;
	}
	.songs p1 {
		line-height: 1.1;
	}
	.bottom {
		font-size: 15px;
	}
	.bottom p {
		font-size: 14px;
	}
	.gobackbutt {
		top: 130px;
		width: 43px;
		height: 43px;
		left: 23.3px;
	}
	.gobackbutttext {
		top: 138.5px;
		left: 69.9px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) "nice" */
@media (min-width: 600px) {
	#header1 {
		font-size: 20px;
	}
	audio {
		color: #FFFFFF;
		filter: invert(80%);
		height: 50px;
		width: 450px;
	}
	a.buttons {
		font-size: 23px;
	}
	.songs {
		top: 25%;
		left: 50%;
		transform: translate(-50%);
		line-height: 1.5;
		font-size: 20px;
	}
	.songs p {
		line-height: 1.1;
	}
	.songs script {
		line-height: 1.1;
	}
	.songs p1 {
		line-height: 1.1;
	}
	.bottom {
		font-size: 15px;
	}
	.bottom p {
		font-size: 14px;
	}
	.gobackbutt {
		top: 130px;
		width: 45px;
		height: 45px;
		left: 23.3px;
	}
	.gobackbutttext {
		top: 138.5px;
		left: 69.9px;
	}
}

/* Medium devices (landscape tablets, 768px and up) "woohoo" */
@media (min-width: 768px) {
	#header1 {
		font-size: 21px;
	}
	audio {
		height: 50px;
		width: 500px;
	}
	a.buttons {
		font-size: 24px;
	}
	.songs {
		top: 25%;
		left: 50%;
		transform: translate(-50%);
		line-height: 1.5;
		font-size: 21px;
	}
	.songs p {
		line-height: 1.1;
	}
	.songs script {
		line-height: 1.1;
	}
	.songs p1 {
		line-height: 1.1;
	}
	.bottom {
		font-size: 15px;
	}
	.bottom p {
		font-size: 14px;
	}
	.gobackbutt {
		top: 88px;
		width: 45px;
		height: 45px;
		left: 23.3px;
	}
	.gobackbutttext {
		top: 96.5px;
		left: 69.9px;
	}
}

/* Large devices (laptops/desktops, 992px and up) "doney" */
@media (min-width: 992px) {
	#header1 {
		font-size: 22px;
	}
	audio {
		height: 50px;
		width: 550px;
	}
	a.buttons {
		font-size: 25px;
	}
	.songs {
		top: 25%;
		left: 50%;
		transform: translate(-50%);
		line-height: 1.5;
		font-size: 22px;
	}
	.songs p {
		line-height: 1.1;
	}
	.songs script {
		line-height: 1.1;
	}
	.songs p1 {
		line-height: 1.1;
	}
	.bottom {
		font-size: 15px;
	}
	.bottom p {
		font-size: 14px;
	}
	.gobackbutt {
		top: 88px;
		width: 45px;
		height: 45px;
		left: 23.3px;
	}
	.gobackbutttext {
		top: 96.5px;
		left: 69.9px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) "done" */
@media (min-width: 1200px) {
	#header1 {
		font-size: 22px;
	}
	audio {
		height: 50px;
		width: 550px;
	}
	a.buttons {
		font-size: 25px;
	}
	.songs {
		top: 25%;
		left: 50%;
		transform: translate(-50%);
		line-height: 1.5;
		font-size: 22px;
	}
	.songs p {
		line-height: 1.1;
	}
	.songs script {
		line-height: 1.1;
	}
	.songs p1 {
		line-height: 1.1;
	}
	.bottom {
		font-size: 15px;
	}
	.bottom p {
		font-size: 14px;
	}
	.gobackbutt {
		top: 88px;
		width: 45px;
		height: 45px;
		left: 23.3px;
	}
	.gobackbutttext {
		top: 96.5px;
		left: 69.9px;
	}
}
